header{
    top: 0;
    z-index: 100;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    
}

.footerwrapper{
    z-index: 100;
    margin: 0;
}


.carousel{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 0px;
    position: relative;

}

.carousel .list .champions{
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .champions img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.carousel .list .champions .content{
    position: absolute;
    top: 8%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .champions .content .role{
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .champions .content .name{
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
}

.carousel .list .champions .content .motto{
    font-family: "Kanit", sans-serif;
    font-size: 1.2em;
    color: goldenrod;
    line-height: 1.3em;
    padding-bottom: 15px;
}

/*Ability*/
.carousel .list .champions .content .ability{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    margin-top: 20px;
}

.carousel .list .champions .content .ability span{
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 0.8em;
}

.carousel .list .champions .content .ability img{
    object-fit: cover;
    filter: none;
}

/*See more and video button*/
.carousel .list .champions .content .button{
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

/*See more*/
.carousel .list .champions .content button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.7em;
}

/*Video*/
.carousel .list .champions .content button:nth-child(2){
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

/* Thumbnail style */
.thumbnail{
    position: absolute;
    top: 600px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .champions{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .champions img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    border-radius: 8px;
}

.thumbnail .champions .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .champions .content .name{
    font-weight: bold;
}

/* Button style */
.btn{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 12px;
    align-items: center;
}

.btn button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #eee4;
    font-family: "monospace", sans-serif;
    font-weight: bold;
    font-size: large;
    color: #fff;
    transition: .5s;
    z-index: 100;
}

.btn button:hover{
    background-color: #eee;
    color: #555;
}

.carousel .list .champions:nth-child(1){
    z-index: 1;
}
 
.carousel .list .champions:nth-child(1).role,
.carousel .list .champions:nth-child(1).name,
.carousel .list .champions:nth-child(1).motto,
.carousel .list .champions:nth-child(1).discription,
.carousel .list .champions:nth-child(1).ability,
.carousel .list .champions:nth-child(1).button{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showChampion 1s linear 1 forwards;
}

@keyframes showChampion{
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.carousel .list .champions:nth-child(1).role{
    animation-delay: 0.1s;
}
.carousel .list .champions:nth-child(1).name{
    animation-delay: 0.2s;
}
.carousel .list .champions:nth-child(1).motto{
    animation-delay: 0.3s;
}
.carousel .list .champions:nth-child(1).discription{
    animation-delay: 0.4s;
}
.carousel .list .champions:nth-child(1).ability{
    animation-delay: 0.5s;
}
.carousel .list .champions:nth-child(1).button{
    animation-delay: 0.6s;
}
/*
.carousel.next .list .champions:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.0s linear 1 forwards;
}

@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
*/
.carousel.next .list .champions:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail 1s linear 1 forwards;
}

@keyframes showThumbnail{
    to{
        width: 150px;
    }
}

.carousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail 1s linear 1 forwards;
}

@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}
/*
.carousel.prev .list .champions:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .champions:nth-child(2) img{
    position: absolute;
    left: 0;
    bottom: 0;
    animation: outImage 0.0s linear 1 forwards;
}

@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        left: 50%;
        bottom: 50px;
        border-radius: 20px;
    }
}
*/
.carousel.prev .thumbnail .champions:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 1s linear 1 forwards;
}
/*
.carousel.prev .list .champions:nth-child(2).role,
.carousel.prev .list .champions:nth-child(2).name,
.carousel.prev .list .champions:nth-child(2).motto,
.carousel.prev .list .champions:nth-child(2).discription,
.carousel.prev .list .champions:nth-child(2).ability,
.carousel.prev .list .champions:nth-child(2).button{
    animation: contentOut 0s linear 1 forwards;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(50px);
        opacity: 0;
    }
}
*/
.carousel.next .btn button,
.carousel.prev .btn button{
    pointer-events: none;
}

.time{
    width: 0%;
    height: 10px;
    background-color: goldenrod;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: timeRunning 1s linear 1 forwards;
}

@keyframes timeRunning{
    to{
        width: 0;
    }
}

@media screen and (max-width: 678px){
    .carousel .list .champions .content{
        padding-right: 0;
    }
    .carousel .list .champions .content .name{
        font-size: 30px;
    }
}