:root {
    --h0: 60px;
    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;

    --sub: 20px;
    --label: 16px;
    --ls: 5px;
    --body: 14px;

    --font--family: "Poppins", sans-serif, ;


    --color-dark: #111;
    --color-red: red;
    --color-white: #fff;
    --color-yellow: background-color: rgb(208, 168, 92);
    ;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




body {

    align-items: center;
    justify-content: center;
}

.white-btn {
    cursor: pointer;
}

.cursorOn {
    cursor: pointer;

}

.dark-btn {
    cursor: pointer;
}

.blue-btn {
    background-color: blue;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.text-white {
    color: var(--color-white);
}

.text-dark {
    color: var(--color-dark);
}

.common-label {
    text-transform: capitalize;
    font-size: var(--h0);
    font-family: var(--font--family);
    font-weight: bold;
    color: grey;
}

.common-title {
    font-size: var(--h1);
    text-transform: capitalize;
    font-weight: bold;

}

.common-text {
    font-family: var(--font--family);
    font-size: var(--h6);
}

.hero {
    background-color: #111;
    position: flex;
    width: 100%;
    z-index: 123;
}

.navbar__logo--image {
    width: 50px;
    height: 50px;

}

.top-btn {
    width: 110px;
    height: 45px;
    border-radius: 5px;
    background-color: var(--color-yellow);
    text-align: center;
    line-height: 40px;
    color: grey;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/**
* !style rules for nav bar
**/
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.navbar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar__logo--text {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: var(--label);
}

.navbar__logo--text:hover {
    color: Red;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: var(--font--family);
}

.navbar__menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navbar_icons i {
    cursor: pointer;
    font-size: var(--h2);
    color: var(--color-white);
}

.navbar_icons {
    display: none;
}


.navbar .navbar__menu :hover {
    background: grey;
}

.aos {
    opacity: 0;
    transition: opacity 2s;
}

.aos.ed {
    opacity: 1;
}

/**
* !style rules for common classes
**/
.container {
    max-width: 95%;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.container2 {
    max-width: 95%;
    margin: auto;
    justify-content: center;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

/**
* !style rules for footer classes
**/
.footerWrapper {
    background-color: var(--color-dark);
    color: grey;
    margin-top: 20px;
}

.footerLinks_socials,
.footerLinks_copyright {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.Pointed {
    cursor: pointer;
    color: var(--color-white);
    text-transform: capitalize;
    border-radius: 15px;
    padding: 10px
}

.Pointed:hover {

    background-color: rgba(255, 255, 255, 0.1);
}

.greyfooterLinks {
    font-size: var(--h5);
    color: var(--color-white);
    font-family: var(--font--family);
    background-color: grey;
    height: 50px;
    text-decoration: none;
}

.footerLinks_copyright2,
.footerLinks_copyright3,
.greyfooterLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

@media(max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media(max-width: 1024px) {
    .container {
        max-width: 740px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media(max-width: 768px) {
    .grid2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        max-width: 500px;
    }

    .navbar__menu {
        z-index: 1;
        background: #111;
        position: absolute;
        top: 6vh;
        width: 100%;
        left: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .navbar__menu--1 {
        margin-top: -200px;
    }

    .navbar_icons {
        display: block;
    }


    .hide {
        display: none;
    }


    .hidden {
        z-index: -1;
        opacity: 0%;
    }
}

@media(max-width: 568px) {
    .container {
        max-width: 90%;
    }

    .navbar__menu {
        z-index: 1;
        background: #111;
        position: absolute;
        top: 8vh;
        width: 100%;
        left: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .navbar_icons {
        display: block;
    }

    .hide {
        display: none;
    }

}