* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: url('loginPageBG.jpg') no-repeat; */
    font-family: sans-serif;
    background-size: cover;
}

/* .navdiv {
    height: 50px;
}

.navbar {
    background-color: #111;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none
} */