* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

.navi-bar ul {
    list-style-type: none;
    background-color: #111;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navi-bar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

.navi-bar ul li a:hover {
    color: grey;
}

.navi-bar li {
    float: left;
}