.hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 100px;
    padding: 150px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    text-align: center;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.labelsectionOne {
    font-size: 1.5rem;
    font-weight: 700;
    color: grey;
    font-family: var(--font--family);
}

.responsive-video {
    max-width: 100%;
    height: auto;
}


@media (max-width:1200px) {
    .sectionOne {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

}

@media (max-width:568px) {
    .sectionOne {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

}